@{
    ViewBag.Title = "Home Page";
}

@*@foreach(var t in ViewBag.Test as Dictionary<string, long>)
{
    <p>@t.Key @t.Value</p>
}
<form method="post" enctype="multipart/form-data" action="@Request.RawUrl"> 
    <input type="file" name="bbb"/>
    <input type="submit" value="upload" />
</form>*@
<h1>Управление производством</h1>