@model IEnumerable<ViachappaFactAuth.DB.AssetsLiabilitiesType>

@{
    ViewBag.Title = "Виды активов и обязательств";
}

    <h2>Виды активов и обязательств</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr><td> @Html.DisplayFor(modelItem => item.Name)</td></tr>
}
</table>
