@model ViachappaFactAuth.Models.PartnerModel.Data
@{
    Layout = null;
}
    <div id="from-container">
        <p>Наименование: @Model.name.full_with_opf</p>
        <p>КПП: @Model.kpp</p>
        <p>Телефон: @Model.phones</p>
    </div>

